/*-- scss:defaults --*/

//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

// Colors
$dpurple: #502688;
$mpurple: #8F61DB;
$pink: #EDBBCE;
$cream: #FAF6F9;
$almond: #EFDCCE;
$pigment-blue: #A5C3E2;
$salmon: #E39699;
$white: #FFFFFF;

// Base document colors
$navbar-bg: $salmon; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $mpurple; // highlight color when hovering over navbar links
$body-bg: $almond; // page background
$body-color: $dpurple; // page text
$footer-bg: $cream; // footer
$link-color: $salmon; // hyperlinks

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $dpurple; // inline code text color